* {
    background: gainsboro;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .item {
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%; /* (100-32*3)/2 */
    background-color: burlywood;
    border: 2px solid;
    border-color: darkcyan;
  }

  .wrongAnswerStyling {

    background-color: palevioletred;
    font-size: 500%;

  }

  .rightAnswerStyling {

    background-color: yellowgreen;
    font-size: 500%;
  }