* {
    font-family: 'Baloo Tamma 2', cursive;
}

#banner {
  color: pink;
  text-align: center;
  margin-top: 40px;
}
.master-container{
  display: flex;
  justify-content: center;
}

.container {
    /* background: gainsboro; */
    padding-top: 100px;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    margin: 20px;
  }
  
  .item {
    flex: 0 32%;
    width: 70px;
    height: 160px;
    padding-top: 15px;
    margin-bottom: 2%; /* (100-32*3)/2 */
    background-color: burlywood;
    border: 3px solid;
    box-shadow: 3px 3px teal;
    border-color: darkcyan;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    font-size: 110%;
  }

  .wrongAnswerStyling {

    background-color: palevioletred;
    font-size: 500%;
    animation: wrongColor .5s ease;
  }

  @keyframes wrongColor {
    from {background-color: burlywood;}
    to {background-color: palevioletred;}
  }

  .rightAnswerStyling {
    background-color: yellowgreen;
    font-size: 500%;
    animation: rightColor .5s ease;
  }

  @keyframes rightColor {
    from {background-color: burlywood;}
    to {background-color: yellowgreen;}
  }

  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 700% 700%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  
#score-counter {
  font-size: 200%;
  margin-top: 20px;
}

.score-container{
  padding-top: 30px;
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  margin: 20px;
}

.score-item {
  flex: auto;
  width: auto;
  height: auto;
  margin-bottom: 2%; /* (100-32*3)/2 */
  border: 3px solid;
  box-shadow: 3px 3px teal;
  border-color: darkcyan;
  background-color: burlywood;
  margin: 5px;
  border-radius: 20px;
}